body {
   
    background-color:rgb(124, 211, 218);
    margin: 0px;
    font-family: 'roboto',  sans-serif;
    min-height: 100vh;  
    display: grid;
    grid-template-rows: auto 1fr auto;
}
#logo{
padding: 10px;
width: 45px;
}
.page-header {
background-color:rgb(184, 95, 22);
font-size:30px;
font-family: 'lato';
display: flex;
justify-content: space-between;
align-items: center;
}
.site-navigation a> {
padding: 1em;
}
.site-navigation a:hover {
background-color: rgba(124, 212, 218, 0.452);
}
